<app-navbar></app-navbar>
<div class="container" >
    <div class="card" style="width: 18rem; display: inline-block; margin-left: 5%; margin-top: 5%;" >
        
        <div class="card-body">
          <h5 class="card-title">Listar Tarjetas</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="listar/tarjetas" class="btn btn-primary" style="margin-left: 40%;">Listar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; display: inline-block; margin-left: 10px; margin-top: 5%;">
        
        <div class="card-body">
          <h5 class="card-title">Listar Transacciones</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="listar/transacciones" class="btn btn-primary" style="margin-left: 40%;">Listar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; display: inline-block; margin-left: 10px; margin-top: 5%;">
        
        <div class="card-body">
          <h5 class="card-title">Pagos</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="pagos" class="btn btn-primary" style="margin-left: 40%;">Pagar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; display: inline-block; margin-left: 10px; margin-top: 5%;">
        
        <div class="card-body">
          <h5 class="card-title">Crear Tarjeta</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="crear/tarjetas" class="btn btn-primary" style="margin-left: 40%;">Crear</a>
        </div>
    </div>
      
</div>
